@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');

a {
  text-decoration: none;
  color: papayawhip;
  margin: 1em;
  align-content: center;
  font-size: 200%;
}

a:hover {
  background-color: peachpuff;
  color: slategray;
  padding: 1%;
  border-radius: 20px;
}

.App {
  text-align: center;
  width:  100%;
}

body {
  color: papayawhip;
  background-color: slategray;
  font-family: "Josefin Slab", serif;
}

button {
  text-decoration: none;
  color: papayawhip;
  background-color: slategray;
  margin: 1em;
  border:  none;
  align-content: center;
  font-size: 200%;
}

button:hover {
  background-color: peachpuff;
  color: slategray;
  padding: 1%;
  border-radius: 20px;
}


.card {
  color: papayawhip;
  height: 100%;
  background-color: slategray;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  border: none;
}



.card-img {
  width:  40%;
  height: 30rem;
  object-fit: contain;
}

.card-img-right {
  width:  40%;
  height: 30rem;
  object-fit: contain;
  display: inline;
  margin-right: 25%;
}


.card-subtitle {
  font-size: 200%;
  margin-bottom: 5%;
}

.card-text {
  display: inline-flex;
  text-align: left;
  width: 30%;
  margin-right: 10%;
}

.card-title {
  font-size: 400%;
}

.formSubmit {
  text-decoration: none;
  color: papayawhip;
  background-color: slategray;
  margin: 1em;
  align-content: center;
  font-size: 200%;
}

.formSubmit:hover {
  background-color: peachpuff;
  color: slategray;
  border-radius: 20px;
  justify-content: center;
}

h3 {
  display: inline;
  margin-left: 2%;
  font-size: 250%;
}

.homePage {
  margin: 1%;
  font-size: 400%;
  margin-bottom: 0;
}


input {
  background-color: papayawhip;
  border-radius: 20px;
  width: 25%;
  height: 3rem;
  border: none;
  font-size: 200%;
  text-align: center;
}

.logo {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.navbar-nav {
  width: 100%;
}

.navLink {
  padding:  1%;
  width: 20%;
  flex-wrap: nowrap;
}

p {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 5%;
  flex-wrap: wrap;
  width: 50%;
  font-size: 150%;
}

.startHeader {
  font-size: 400%;
  width: 90%;
  display: flex;
  margin-right: 20%;
  margin-left: 2%;
  margin-bottom: 4%;
  margin-top: 1%;
}

.starterPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.starterLink {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  font-size: 100%;
  margin: 0;
  font-weight: bold;
}

.starterLink:hover {
  margin-right: 65%;
  justify-content: center;
}



/* Start 350px query */
@media (min-width:  350px) {

  a {
    text-decoration: none;
    color: papayawhip;
    margin: 1em;
    align-content: center;
    font-size: 80%;
  }

  a:hover {
    background-color: none;
    color: slategray;
    padding: 1%;
    border-radius: 10px;
    margin-right: 3%;
    height: 10%;
    width: 80%;
  }

  .App {
    text-align: center;
    width:  100%;
  }

  body {
    color: papayawhip;
    background-color: slategray;
    font-family: "Josefin Slab", serif;
  }

  button {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    border:  none;
    align-content: center;
    font-size: 200%;
  }

  button:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
  }


  .card {
    color: papayawhip;
    height: 100%;
    background-color: slategray;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    border: none;
  }

  .card-img {
    width:  40%;
    height: 30rem;
    object-fit: contain;
  }

  .card-img-right {
    width:  40%;
    height: 30rem;
    object-fit: contain;
    display: inline;
    margin-right: 25%;
  }


  .card-subtitle {
    font-size: 200%;
    margin-bottom: 5%;
  }

  .card-text {
    display: inline-flex;
    text-align: left;
    width: 30%;
    margin-right: 10%;
  }

  .card-title {
    font-size: 400%;
  }

  .formSubmit {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  .formSubmit:hover {
    background-color: peachpuff;
    color: slategray;
    border-radius: 20px;
    justify-content: center;
  }

  h3 {
    display: flex;
    margin-left: 0%;
    margin-bottom: 5%;
    font-size: 175%;
    width: 75%;
    justify-content: center;
  }

   .homeBody {
    margin: 1%;
    font-size: 150%;
    margin-bottom: 0;
  }

  .homePage {
    margin: 1%;
    font-size: 300%;
    margin-bottom: 0;
  }

  input {
    background-color: papayawhip;
    border-radius: 20px;
    width: 30%;
    height: 2rem;
    border: none;
    font-size: 70%;
    text-align: center;
  }

  .logo {
    width: 100%;
    display: flex;
    margin: auto 0;
    justify-content: center;

  }

  .navbar-nav {
    width: 25%;
  }

  .navLink {
    padding:  1%;
    width: 40%;
    font-size: 150%;
    flex-wrap: nowrap;
  }

   p {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 5%;
    flex-wrap: wrap;
    width: 75%;
    font-size: 125%;
  }

  .startHeader {
    font-size: 250%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    margin-bottom: 4%;
    margin-top: 1%;
  }

  .starterPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto 0;
  }

  .starterLink {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 100%;
    margin: 0;
    font-weight: bold;
  }

  .starterLink:hover {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

}






/* Start 768px query */
@media (min-width:  768px) {

  a {
    text-decoration: none;
    color: papayawhip;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  a:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
  }

  .App {
    text-align: center;
    width:  100%;
  }

  body {
    color: papayawhip;
    background-color: slategray;
    font-family: "Josefin Slab", serif;
  }

  button {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    border:  none;
    align-content: center;
    font-size: 200%;
  }

  button:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
  }


  .card {
    color: papayawhip;
    height: 100%;
    background-color: slategray;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    border: none;
  }



  .card-img {
    width:  40%;
    height: 30rem;
    object-fit: contain;
  }

  .card-img-right {
    width:  40%;
    height: 30rem;
    object-fit: contain;
    display: inline;
    margin-right: 25%;
  }


  .card-subtitle {
    font-size: 200%;
    margin-bottom: 5%;
  }

  .card-text {
    display: inline-flex;
    text-align: left;
    width: 30%;
    margin-right: 10%;
  }

  .card-title {
    font-size: 400%;
  }

  .formSubmit {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  .formSubmit:hover {
    background-color: peachpuff;
    color: slategray;
    border-radius: 20px;
    justify-content: center;
  }

  h3 {
    display: flex;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 250%;
    width: 55%;
    justify-content: center;
  }

  .homePage {
    margin: 1%;
    font-size: 400%;
    margin-bottom: 0;
  }


  input {
    background-color: papayawhip;
    border-radius: 20px;
    width: 25%;
    height: 3rem;
    border: none;
    font-size: 200%;
    text-align: center;
  }

  .logo {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .navbar-nav {
    width: 100%;
  }

  .navLink {
    padding:  1%;
    width: 20%;
    flex-wrap: nowrap;
  }

  p {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    width: 50%;
    font-size: 150%;
  }

  .startHeader {
    font-size: 400%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    margin-bottom: 4%;
    margin-top: 1%;
  }

  .starterPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto 0;
  }

  .starterLink {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 100%;
    margin: 0;
    font-weight: bold;
  }

  .starterLink:hover {
    margin-right: 65%;
    justify-content: center;
  }

}




/* Start 992px query */
@media (min-width:  992px) {

  a {
    text-decoration: none;
    color: papayawhip;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  a:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
  }

  .App {
    text-align: center;
    width:  100%;
  }

  body {
    color: papayawhip;
    background-color: slategray;
    font-family: "Josefin Slab", serif;
  }

  button {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    border:  none;
    align-content: center;
    font-size: 200%;
  }

  button:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
  }


  .card {
    color: papayawhip;
    height: 100%;
    background-color: slategray;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    border: none;
  }


  .card-img {
    width:  40%;
    height: 30rem;
    object-fit: contain;
  }

  .card-img-right {
    width:  40%;
    height: 30rem;
    object-fit: contain;
    display: inline;
    margin-right: 25%;
  }


  .card-subtitle {
    font-size: 200%;
    margin-bottom: 5%;
  }

  .card-text {
    display: inline-flex;
    text-align: left;
    width: 30%;
    margin-right: 10%;
  }

  .card-title {
    font-size: 400%;
  }

  .formSubmit {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  .formSubmit:hover {
    background-color: peachpuff;
    color: slategray;
    border-radius: 20px;
    justify-content: center;
  }

  h3 {
    display: flex;
    margin-left: -1%;
    font-size: 250%;
    justify-content: flex-start;
    width: 100%;
  }

  .homePage {
    margin: 1%;
    font-size: 400%;
    margin-bottom: 0;
  }


  input {
    background-color: papayawhip;
    border-radius: 20px;
    width: 25%;
    height: 3rem;
    border: none;
    font-size: 200%;
    text-align: center;
  }

  .logo {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .navbar-nav {
    width: 100%;
  }

  .navLink {
    padding:  1%;
    width: 20%;
    flex-wrap: nowrap;
  }

  p {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: -5%;
    margin-bottom: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    width: 90%;
    font-size: 150%;
  }


  .startHeader {
    font-size: 400%;
    width: 90%;
    display: flex;
    margin-right: 20%;
    margin-left: 9%;
    margin-bottom: 4%;
    margin-top: 1%;
  }

  .starterPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .starterLink {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    font-size: 100%;
    margin: 0;
    font-weight: bold;
  }

  .starterLink:hover {
    margin-right: 65%;
    justify-content: center;
  }

}







/* Start 1200px query */
@media (min-width:  1200px) {
  a {
    text-decoration: none;
    color: papayawhip;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  a:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
    width: 10%;
  }

  .App {
    text-align: center;
    width:  100%;
  }

  body {
    color: papayawhip;
    background-color: slategray;
    font-family: "Josefin Slab", serif;
  }

  button {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    border:  none;
    align-content: center;
    font-size: 200%;
  }

  button:hover {
    background-color: peachpuff;
    color: slategray;
    padding: 1%;
    border-radius: 20px;
  }


  .card {
    color: papayawhip;
    height: 100%;
    background-color: slategray;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    border: none;
  }



  .card-img {
    width:  40%;
    height: 30rem;
    object-fit: contain;
  }

  .card-img-right {
    width:  40%;
    height: 30rem;
    object-fit: contain;
    display: inline;
    margin-right: 25%;
  }


  .card-subtitle {
    font-size: 200%;
    margin-bottom: 5%;
  }

  .card-text {
    display: inline-flex;
    text-align: left;
    width: 30%;
    margin-right: 10%;
  }

  .card-title {
    font-size: 400%;
  }

  .formSubmit {
    text-decoration: none;
    color: papayawhip;
    background-color: slategray;
    margin: 1em;
    align-content: center;
    font-size: 200%;
  }

  .formSubmit:hover {
    background-color: peachpuff;
    color: slategray;
    border-radius: 20px;
    justify-content: center;
  }

  h3 {
    display: flex;
    margin-left: 5%;
    font-size: 250%;
    width: 100%;
  }

  .homePage {
    margin: 1%;
    font-size: 400%;
    margin-bottom: 0;
  }


  input {
    background-color: papayawhip;
    border-radius: 20px;
    width: 25%;
    height: 3rem;
    border: none;
    font-size: 200%;
    text-align: center;
  }

  .logo {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .navbar-nav {
    width: 100%;
  }

  .navLink {
    padding:  1%;
    width: 20%;
    flex-wrap: nowrap;
    margin-left: 5%;
  }

  .navLink:hover {
    padding:  1%;
    width: 20%;
    flex-wrap: nowrap;
    margin-left: 5%;
  }

  p {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    width: 80%;
    font-size: 150%;
  }

  .startHeader {
    font-size: 400%;
    width: 90%;
    display: flex;
    margin-right: 20%;
    margin-left: 5%;
    margin-bottom: 4%;
    margin-top: 1%;
  }

  .starterPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .starterLink {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    font-size: 100%;
    margin: 0;
    font-weight: bold;
  }

  .starterLink:hover {
    margin-right: 65%;
    justify-content: center;
    width: 15%;
  }
 
}