@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');

.App {
  text-align: center;
}

.card-img {
  width:  40%;
  height: 30rem;
  object-fit: contain;
}

.card-img-right {
  width:  40%;
  height: 30rem;
  object-fit: contain;
}

body {
   color: papayawhip;
  background-color: slategray;
  font-family: "Josefin Slab", serif;
}

.card {
  color: papayawhip;
  height: 300rem;
  background-color: slategray;
}

a {
  text-decoration: none;
  color: papayawhip;
  margin: 1em;
  align-content: center;
  font-size: 200%;
}

a:hover {
  background-color: peachpuff;
  color: slategray;
  padding: 1%;
  border-radius: 20px;
}

.navLink {
  padding:  1%;
  width: 20rem;
  flex-wrap: nowrap;
}

input {
  background-color: papayawhip;
  border-radius: 20px;
  width: 25%;
  height: 3rem;
  border: none;
  font-size: 200%;
  text-align: center;
}

.homePage {
  margin: 10%;
  font-size: 400%;
}

.starterPage {
  display: flex;
  flex-wrap: wrap;
}

.startHeader {
  font-size: 400%;
  width: 100%;
  display: flex;
}